.clair-gradient-primary {
  background-image: $clair-gradient-primary;
}

.clair-gradient-primary-translucent {
  background-image: $clair-gradient-primary-translucent;
}

.clair-gradient-secondary {
  background-image: $clair-gradient-secondary;
}

.clair-gradient-dark {
  background-image: $clair-gradient-dark;
}
