/*
Fonts

These are the fonts that you can use throughout the app

$clair-family-heading - The main font used in headings
$clair-family-heading-secondary - Used when you need to bold in headings
$clair-family-text - The main font for text

markup:
<p style="font-family: {$modifiers}">{$modifiers}</p>

Styleguide 1.3
*/
$clair-family-heading: Futura, 'Trebuchet MS', Arial, sans-serif;
$clair-family-heading-secondary: 'Roboto', Arial, sans-serif;
$clair-family-text: 'Helvetica Neue', Arial, sand-serif;
