.clair-heading {
  font-family: $clair-family-heading;
  font-weight: 400;
}

.clair-heading-secondary {
  font-family: $clair-family-heading-secondary;
  font-weight: 400;
}

.clair-text {
  font-family: $clair-family-text;
  font-weight: 300;
  line-height: 1rem;
}
