h1,
.h1 {
  @extend %clair-heading;

  font-size: rem(32px);
}

h2,
.h2 {
  @extend %clair-heading;

  font-size: rem(26px);
}

h3,
.h3 {
  @extend %clair-heading;

  font-size: rem(21px);
}

h4,
.h4 {
  @extend %clair-heading-secondary;

  font-size: rem(19px);
}

h5,
.h5 {
  @extend %clair-heading-secondary;

  font-size: rem(16px);
}
